*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/shared/build
/androidApp/build
/iosApp/Pods
/iosApp/build
*.xcworkspace
*.xcuserdata
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.kotlin/
